/*http://www.colourlovers.com/pattern/1241063/Light_and_Easy*/

.myform{
    width: 400px;
    height: 500px;
    padding:  20px;
    border: 1px solid blue;
    position: relative;
    top: 55px;
    margin: auto;
    background-color: #4a5359;
}
div h2{
    position: relative;
    left: 110px;
}
#divutente{
    position: relative;
    top: 80px;
}
#divpassword{
    position: relative;
    margin-top: 15px;
    top:  110px;
}
.check{
    position: relative;
    top: 140px;
    margin-left: 120px;
}
.back{
    position: relative;
    top: 180px;
    margin-left: 130px;
}
.bb{
    position: relative;
    background-color: #09e231;
    top: 180px;
    left: 130px;
}
.bb:hover{
    background-color: #1231ce;
}